# Dependencies
node_modules

# Build output
dist
*.tsbuildinfo

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
.cursor
*.swp
*.swo

.cursor
.temp